<h2><%= Comment.model_name.human %></h2>
<table>
  <% postable.comments.each do |comment| %>
    <tr>
      <td><%= comment.text %></td>
      <td><%= l comment.created_at, format: :long %></td>
      <td>
        <% if comment.user.name.empty? %>
          <%= comment.user.email %>
        <% else %>
          <%= comment.user.name %>
        <% end %>
      </td>
      <% if comment.user_id == current_user.id %>
        <td><%= link_to  t('views.common.edit'), edit_comment_path(comment.id) %></td>
        <td><%= link_to t('views.common.destroy'), comment, method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
