<h3>Comment</h3>
<p>
  <% postable.comments.each do |comment| %>
    <tr>
      <td><%= comment.text %></td>
      <td><%= l comment.created_at, format: :long %></td>

      <td>
        <% if User.find(comment.user_id).name.empty? %>
          <%= User.find(comment.user_id).email %>
        <% else %>
          <%= User.find(comment.user_id).name %>
        <% end %>
      </td>
      <% if comment.user_id == current_user.id %>
        <td><%= link_to 'Edit', comment %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </br>
    </tr>
  <% end %>
</p>
