<!-- /app/views/user/usershow.html.erb -->
<p><%= t('views.items.user_names')%> : <%= @user .name %></p>
<p><%= t('views.items.email')%> : <%= @user.email %></p>
<p><%= t('views.items.address')%> : <%= @user.address %></p>
<p><%= t('views.items.postcode')%> : <%= @user.postcode %></p>
<p><%= t('views.items.introduction')%> : <%= @user.introduction %></p>
