<!-- /app/views/user/usershow.html.erb -->
<p>Name : <%= @user.id %></p>
<p>Email : <%= @user.email %></p>
<p>Address : <%= @user.address %></p>
<p>Postcode : <%= @user.postcode %></p>
<p>Introduction : <%= @user.introduction %></p>
