<h2><%= t('views.common.title_edit', name:t('views.items.password'))%></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, t('views.common.title_new', name:t('views.items.password')) %><br />
    <% if @minimum_password_length %>
      <em>(<%= t('errors.format', attribute: t('views.items.password'), message: t('errors.messages.too_short', count: @minimum_password_length))%>)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('views.items.password_confirmation') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('views.common.new') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
