<h1>日誌の新規作成</h1>

<%= form_with model: @report do |form| %>
  <%= form.label :title, 'Title' %>
  <%= form.text_area :title, size: '30x1', required: true %>
  <%= form.label :text, 'Text' %>
  <%= form.text_area :text, size: '30x10', required: true %><br>
  <%= form.submit %>
  <%= link_to '戻る', :back %>
<% end %>
