<h1>日誌の内容</h1>
<p>
  <strong>
    <%= Report.human_attribute_name(:title) %>:
  </strong>
  <%= @report.title %>
</p>
<p>
  <strong>
    <%= Report.human_attribute_name(:text) %>:
  </strong>
  <%= @report.text %>
</p>

<% if  @report.created_by == current_user.id %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %>
<% end %>

<%= render partial: "comments/index", locals: {postable: @report} %>
<%= render partial: "comments/create", locals: {postable: @report, comment: @report.comments.new} %>
<%= link_to t('views.common.back'), reports_path %>
