<h1>日誌の詳細</h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:text) %>:</strong>
  <%= @report.text %>
</p>

<% if @report.created_by == current_user.id %>
  <%= link_to '更新', edit_report_path %>
<% end %>

<%= link_to :back do %>
  戻る
<% end %>
