<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>
<p>
  <strong>
    <%= Report.human_attribute_name(:title) %>:
  </strong>
  <%= @report.title %>
</p>
<p>
  <strong>
    <%= Report.human_attribute_name(:text) %>:
  </strong>
  <%= @report.text %>
</p>
<p>
  <strong>
    <%= Report.human_attribute_name(:author) %>:
  </strong>
  <%= @report.user.name %>
</p>
<p>
  <strong>
    <%= Report.human_attribute_name(:email) %>:
  </strong>
  <%= @report.user.email %>
</p>
<p>
  <strong>
    <%= Report.human_attribute_name(:created_at) %>:
  </strong>
  <%= @report.created_at %>
</p>

<% if @report.user_id == current_user.id %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %>
<% end %>

<%= render partial: 'comments/index', locals: { postable: @report } %>
<%= render partial: 'comments/new', locals: { postable: @report, comment: @report.comments.new } %>
<%= link_to t('views.common.back'), reports_path %>
